.add-border(@color) {
  border: 1px solid @color;
}
.materiables-about {
  .header-bg {
    height: 150px;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 50px;
    margin-top: -100px;
    margin-bottom: 50px;
    @media only screen and (max-width: 600px) {
      padding: 5px;
    }
  }
  .flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
      justify-content: space-between;
    }
    .flex-item {
      width: 50%;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;

      .button-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      h2 {
        width: 100%;
      }
      p {
        width: 50%;
        box-sizing: border-box;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
        span {
          display: block;
        }
      }
      &.full-width {
        width: 100%;
      }
      &:first-child {
        padding-right: 10px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        p {
          width: 100%;
        }
      }
      &:nth-child(2) {
        padding-left: 10px;
      }
      &:last-child {
        div {
          width: 50%;
          box-sizing: border-box;
          line-height: normal;
        }
        span {
          display: inline;
        }
        p {
          margin: 0;
          width: 100%;
          a {
            text-decoration: underline;
          }
          &.p-grey {
            padding: 20px 40px;
          }
          &.p-time {
            padding-left: 30px;
          }
        }
        .text-underline {
          text-decoration: underline;
        }
        .padding-right {
          padding-right: 10px;
        }
        .padding-left {
          padding-left: 10px;
        }
        @media screen and (max-width: 600px){
          .padding-left, .padding-right {
            width: 100%;
            padding: 0!important;
          }
        }
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        margin: 0!important;
        padding: 0!important;
        h2 {
          margin-top: 10px;
        }
      }
    }

  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    line-height: normal;
    font-size: 100%;
    box-sizing: border-box;
    li {
      padding: 0;
    }
    @media only screen and (max-width: 600px) {
      width: 33%;
    }
    @media only screen and (max-width: 350px) {
      width: 100%;
      margin-bottom: 10px;
    }
    .button-container {
      display: flex;
      justify-content: center;
      button {
        padding: 0;
        margin: 0;
      }
      @media only screen and (max-width: 570px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .radius-block {
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 120px;
    // max-height: 120px;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    font-size: 200%;
  }

}
