.add-border(@color) {
  border: 1px solid @color;
}
.materiables-about {
  .header-bg {
    height: 150px;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 50px;
    margin-top: -100px;
    margin-bottom: 50px;
  }
  .flex-row {
    display: flex;
    justify-content: space-around;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    line-height: normal;
  }
  .radius-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 65px;
  }

}
