.materiable-blog {
  .top-blog {
  	width: 100%;
  	height: 150px;
  }
  .go-top {
  	margin-top: -100px;
  	background-color: inherit;
  }
  .border {
  	border: 1px solid red;
  }
  .no-margin-bottom {
  	margin-bottom: 0;
  }
  .align-blog-p {
  	Width: 45%;
    margin: 0 auto;
  }
  .nav-no-padding ul {
    padding-left: 10px;
  }
  .tab-display {
    .e-shadow-1 {
    box-shadow: none!important;
    padding-top: 0!important;
    }
  }
  .profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  a:hover {
    cursor: pointer;
  }
  .bl-padding {
    padding: 5px 10px;
  }
  .poze-latest {
    height: 75px;
  }
  .margin-chip {
    margin-bottom: 5px;
  }
}
