.add-border(@color) {
  border: 1px solid @color;
}
.materiable-blog {
  .top-blog {
  	width: 100%;
  	height: 150px;
  }
  .go-top {
  	margin-top: -100px;
  	background-color: inherit;
  }
  .border {
  	border: 1px solid #E8E8E8;
  }
  .no-margin-bottom {
  	margin-bottom: 0;
  }
  .align-blog-p {
  	Width: 45%;
    margin: 0 auto;
  }
  .nav-no-padding ul {
    padding-left: 10px;
  }
  .tab-display {
    .e-shadow-1 {
    box-shadow: none!important;
    padding-top: 0!important;
    }
  }
  .profil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  a:hover {
    cursor: pointer;
  }
  .bl-padding {
    padding: 5px 10px;
  }
  .poze-latest {
    height: 75px;
  }
  .margin-chip {
    margin-bottom: 5px;
  }

  .all-posts-container {
    display: flex;
    flex-wrap: wrap;
  }
  .post-container {
    padding: 10px;
    width: 100%;
    min-width: 300px;
    .post-header {
      img {
        width: 100%;
        max-height: 300px;
        display: block;
      }
    }
    .post-content {}
    .post-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: -8px;
      .share-icon {
        display: none;
      }
      .icons-container {
        display: flex;
      }
    }
    &.small-image {
      display: flex;
      flex-wrap: wrap;
      .left-column {
        width: 35%;
        box-sizing: border-box;
      }
      .right-column {
        box-sizing: border-box;
        width: 65%;
        padding-left: 10px;
        h1 {
          margin-top: 0;
        }
      }
      div.e-divider {
        width: 100%;
      }
    }
    &.masonry {
      .add-border(#F8F8F8);
      box-sizing: border-box;
      width: 50%;
      .post-links li:first-child, .post-links li:nth-child(2) {
        display: none;
      }
      .share-icon {
        display: block;
      }
      .share-link {
        display: none;
      }
    }
  }
  .adjust-margin-card {
    margin-left: 8px!important;
    margin-right: 8px!important;
  }
  .second-card .card-supporting-text{
    padding: 0!important;
  }
  .a-padding-left{
    padding-left: 10px;
  }
  .second-a-padding-left{
      padding-left: 15px;
  }
  .list-nav-little{
		display: flex;
		font-size: 18px!important;
		height: 50px!important;
		i{
			 font-size: 18px!important;
			 margin-right: 15px;
		}
	}
  .icon-list-nav:hover{
    background-color: white!important;
  }
  .list-nav-little:hover{
    background-color: white!important;
    .e-text-grey-400{
      span{
        color:black!important;
      }
      i {
        color:#F50057!important;
      }
    }
  }
}
