.materiable-portfolio {
  .light-bg {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .container {
      max-width: 1200px;
      width: 100%;

      .large-menu {
        li {
          line-height: 50px;
          border-bottom: 2px solid transparent;
          width: 100px;
          a {
            display: block;
          }
          &:hover, &.active {
            border-bottom: 2px solid #BB6F8B;
            a {
              color: #212121!important;
            }
          }
        }
      }
      nav {
        margin-left: 10px;
      }
      .drop-menu {
        display: none;
        i:first-child {
          line-height: 50px;
          color: #90a4ae!important;
          &:hover {
            color: #212121!important;
          }
        }
        .dropdown-item {
          a:hover {
            color: #212121!important;
          }
        }

      }
      @media only screen and (max-width: 600px) {
        .drop-menu {
          display: block;
        }
        .large-menu {
          display: none;
        }
      }
    }
  } //end light-bg
  .fixed-box {
    // add this class on an image container
    // to make it fixed size for Listed Portfolio Style
    width: 287.5px;
    max-width: 287.5px;
    min-width: 287.5px;
    height: 287.5px;
    max-height: 287.5px;
    min-height: 287.5px;
  }
  @media only screen and (max-width: 600px) {
    .fixed-box {
      width: 100%;
      min-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .portfolio-container {
    width: 100%;
    border-top: 1px solid #F5F5F5;
    line-height: normal!important;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img-container {
      cursor: pointer;
      position: relative;
      margin: 5px!important;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 100%;
        display: block;
        flex-grow: 1;
      }
      .layer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0;
      }

      .text-container {
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        color: white;
        padding: 10px;
        ul {
          margin-left: -8px;
        }
        span {
          font-size: 100%;
        }
        li {
          i, small {
            font-size: 80%;
          }
        }
      }
      &:hover, &.active {
        .layer {
          opacity: 0.7;
          transition: opacity .3s ease-in-out;
          -moz-transition: opacity .3s ease-in-out;
          -webkit-transition: opacity .3s ease-in-out;
        }
        .text-container {
          opacity: 1;
          transition: opacity .3s ease-in-out;
          -moz-transition: opacity .3s ease-in-out;
          -webkit-transition: opacity .3s ease-in-out;
          line-height: 80%;
        }
      }
    }//end image container
  } //end portfolio-container

  .left-column {
    width: 80%;
    display: flex;
    flex-direction: column;
    .top-row {
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      .left-col {
        width: 40%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
      .right-col {
        width: 60%;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
    .bottom-row {
      height: 30%;
      flex-wrap: wrap;
    }
  }//end left-column
  .right-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }//end right-column
  @media only screen and (max-width: 600px) {
    .right-column, .left-column, .top-row,
    .bottom-row {
      width: 100%;
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    width: 100%;
    i {
      cursor: pointer;
    }
  }
}//end materiable-portfolio
