.materiable-blog .top-blog {
  width: 100%;
  height: 150px;
}
.materiable-blog .go-top {
  margin-top: -100px;
  background-color: inherit;
}
.materiable-blog .no-margin-bottom {
  margin-bottom: 0;
}
.materiable-blog .align-blog-p {
  Width: 45%;
  margin: 0 auto;
}
.materiable-blog .nav-no-padding ul {
  padding-left: 2px;
}
.materiable-blog .tab-display .e-shadow-1 {
  box-shadow: none!important;
  padding-top: 0!important;
}
.materiable-blog .tab-display .e-shadow-1 div:nth-child(3) {
  margin-left: 8px!important;
  margin-right: 8px!important;
}
.materiable-blog .profil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.materiable-blog a:hover {
  cursor: pointer;
}
.materiable-blog .bl-padding {
  padding: 5px 10px;
}
.materiable-blog .poze-latest {
  height: 75px;
}
.materiable-blog .margin-chip {
  margin-bottom: 5px;
}
.materiable-blog .all-posts-container {
  display: flex;
  flex-wrap: wrap;
}
.materiable-blog .post-container {
  padding: 10px;
  width: 100%;
}
.materiable-blog .post-container .post-header img {
  width: 100%;
  max-height: 300px;
}
.materiable-blog .post-container .post-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -8px;
}
.materiable-blog .post-container.small-image {
  display: flex;
  flex-wrap: wrap;
}
.materiable-blog .post-container.small-image .left-column {
  width: 35%;
  box-sizing: border-box;
}
.materiable-blog .post-container.small-image .right-column {
  box-sizing: border-box;
  width: 65%;
  padding-left: 10px;
}
.materiable-blog .post-container.small-image .right-column h1 {
  margin-top: 0;
}
.materiable-blog .post-container.small-image div.e-divider {
  width: 100%;
}
.materiable-blog .post-container.masonry {
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  width: 50%;
}
.materiable-blog .post-container.masonry .post-links li:first-child,
.materiable-blog .post-container.masonry .post-links li:nth-child(2) {
  display: none;
}
.materiable-blog .adjust-margin-card {
  margin-left: 8px!important;
  margin-right: 8px!important;
}
.materiable-blog .second-card .card-supporting-text {
  padding: 0!important;
}
.materiable-blog .a-padding-left {
  padding-left: 10px;
}
.materiable-blog .second-a-padding-left {
  padding-left: 15px;
}
.materiable-blog .list-nav-little {
  display: flex;
  font-size: 18px!important;
  height: 50px!important;
}
.materiable-blog .list-nav-little i {
  font-size: 18px!important;
  margin-right: 15px;
}
.materiable-blog .icon-list-nav:hover {
  background-color: white!important;
}
.materiable-blog .list-nav-little:hover {
  background-color: white!important;
}
.materiable-blog .list-nav-little:hover .e-text-grey-400 span {
  color: black!important;
}
.materiable-blog .list-nav-little:hover .e-text-grey-400 i {
  color: #F50057!important;
}
.materiables-home .header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4154B3;
  width: 100%;
  min-height: 500px;
}
.materiables-home .adjust-h1-header {
  font-weight: 100;
  color: white!important;
}
.materiables-home .adjust-fab-header {
  position: absolute!important;
  bottom: -35px;
  right: 50px;
}
.materiables-home .main-one {
  background-color: #F2F2F2;
  height: auto;
  width: 100%;
}
.materiables-home .main-two {
  background-color: #E6E6E6;
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #fafafa;
  -moz-box-shadow: inset 0px 3px 7px 0px #fafafa;
  box-shadow: inset 0px 3px 7px 0px #fafafa;
}
.materiables-home .main-three {
  background-color: #333134;
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  -moz-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  box-shadow: inset 0px 3px 7px 0px #1f1d1f;
}
.materiables-home .main-four {
  background-color: white;
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  -moz-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  box-shadow: inset 0px 3px 7px 0px #1f1d1f;
}
.materiables-home .main-five {
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  -moz-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  box-shadow: inset 0px 3px 7px 0px #1f1d1f;
}
.materiables-home .main-six {
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  -moz-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  box-shadow: inset 0px 3px 7px 0px #1f1d1f;
}
.materiables-home .main-eight {
  height: auto;
  width: 100%;
  -webkit-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  -moz-box-shadow: inset 0px 3px 7px 0px #1f1d1f;
  box-shadow: inset 0px 3px 7px 0px #1f1d1f;
}
.materiables-home .main-height {
  height: auto;
  width: 100%;
}
.materiables-home .adjust-h2 {
  line-height: 36px!important;
}
.materiables-home .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.materiables-home .flex-container .adjust-brick-4-header {
  align-self: center;
}
.materiables-home .flex-container .adjust-brick-4-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.materiables-home .flex-container .radius-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 65px;
  background-color: white;
}
.materiables-home .flex-container .flex-row {
  display: flex;
  flex-direction: row;
}
.materiables-home .fix-photo {
  display: block;
  max-width: 285px;
  max-height: 285px;
}
.materiables-home .adjust-height {
  cursor: pointer;
  position: relative;
  display: block;
}
.materiables-home .adjust-height img {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.materiables-home .adjust-height .adjust-h-onImage {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 0;
  text-align: left;
}
.materiables-home .adjust-height .layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}
.materiables-home .adjust-height:hover .layer,
.materiables-home .adjust-height.active .layer {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
.materiables-home .icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 70px;
  font-size: 65px;
  background-color: white;
}
.materiables-home .adjust-brick-4-middle {
  display: flex;
  flex-direction: row;
}
.materiables-home .e-margin-bottom-40 {
  margin-bottom: 40px;
}
.materiables-home .e-margin-right-25 {
  margin-right: 25px;
}
.materiables-home .e-margin-right-8 {
  margin-right: 8px;
}
.materiables-home .e-padding-left-right-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.materiables-home .e-padding-left-right-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.materiables-home .e-padding-left-right-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.materiables-home .adjust-brick-4-articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.materiables-home .top-article {
  margin-bottom: 5px;
}
.materiables-home .bottom-article {
  margin-top: 10px;
}
.materiables-home .contents {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 15px;
}
.materiables-home .contents .second {
  color: grey;
  font-size: 15px;
}
.materiables-home .adjust-long {
  width: 65%!important;
}
.materiables-home .align-self-class {
  align-self: center;
}
.materiables-home .adjust-h2-paper {
  line-height: 36px!important;
  color: white;
}
.materiables-home .adjust-h5-paper {
  color: grey;
}
.materiables-home .adjust-e-row-paper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 6px 6px 2px;
}
.materiables-home .adjust-e-brick-4 {
  float: none!important;
  margin: 2px 6px 6px;
}
.materiables-home .adjust-height {
  height: auto;
}
.materiables-home .adjust-height img {
  display: block;
}
.materiables-home .adjust-bloc-three-buttons {
  font-weight: 600;
}
.materiables-home .adjust-white-block {
  align-self: center;
  width: 60%;
}
.materiables-home .adjust-block-six-content {
  padding: 20px;
}
.materiables-home .adjust-time-post {
  font-size: 15px;
}
.materiables-home .twit-font-size {
  font-size: 50px;
  align-self: center;
  cursor: pointer;
}
.materiables-home .adjust-buy-button {
  font-weight: 600;
  align-self: center;
}
.materiables-other .container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
.materiables-other .header-bg {
  height: 150px;
}
.materiables-other .padding-50 {
  padding: 50px;
}
.materiables-other .negative-margin {
  margin-top: -100px;
  margin-bottom: 50px;
}
.materiables-other .left-border {
  border-left: 2px solid grey;
}
.materiables-other .length-small {
  max-width: 60%;
}
.materiables-other .e-padding-left-25 {
  padding-left: 25px;
}
.materiables-other .adjust-fab-header {
  position: absolute;
  right: 100px;
  top: 170px;
}
@media (max-width: 1560px) {
  .header-bg .hide-fab {
    display: none;
  }
}
.materiable-portfolio .light-bg {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.materiable-portfolio .light-bg .container {
  max-width: 1200px;
  width: 100%;
}
.materiable-portfolio .light-bg .container li {
  line-height: 50px;
  border-bottom: 2px solid transparent;
  width: 100px;
}
.materiable-portfolio .light-bg .container li a {
  display: block;
}
.materiable-portfolio .light-bg .container li:hover,
.materiable-portfolio .light-bg .container li.active {
  border-bottom: 2px solid #BB6F8B;
}
.materiable-portfolio .light-bg .container li:hover a,
.materiable-portfolio .light-bg .container li.active a {
  color: #212121!important;
}
.materiable-portfolio .portfolio-container {
  width: 100%;
  border-top: 1px solid #F5F5F5;
  line-height: normal!important;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.materiable-portfolio .portfolio-container .fixed-box {
  width: 287.5px;
  max-width: 287.5px;
  min-width: 287.5px;
  height: 287.5px;
  max-height: 287.5px;
  min-height: 287.5px;
}
.materiable-portfolio .portfolio-container .img-container {
  cursor: pointer;
  position: relative;
  margin: 5px!important;
  flex-grow: 1;
  display: flex;
}
.materiable-portfolio .portfolio-container .img-container img {
  width: 100%;
  height: 100%;
  display: block;
  flex-grow: 1;
}
.materiable-portfolio .portfolio-container .img-container .layer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}
.materiable-portfolio .portfolio-container .img-container .text-container {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
}
.materiable-portfolio .portfolio-container .img-container .text-container ul {
  margin-left: -8px;
}
.materiable-portfolio .portfolio-container .img-container:hover .layer,
.materiable-portfolio .portfolio-container .img-container.active .layer {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
.materiable-portfolio .portfolio-container .img-container:hover .text-container,
.materiable-portfolio .portfolio-container .img-container.active .text-container {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
.materiable-portfolio .left-column {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.materiable-portfolio .left-column .top-row {
  height: 70%;
  display: flex;
}
.materiable-portfolio .left-column .top-row .left-col {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.materiable-portfolio .left-column .top-row .right-col {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.materiable-portfolio .left-column .bottom-row {
  height: 30%;
}
.materiable-portfolio .right-column {
  width: 20%;
  min-width: 228px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.materiable-portfolio .load-more {
  display: flex;
  justify-content: center;
  width: 100%;
}
.materiable-portfolio .load-more i {
  cursor: pointer;
}
.materiables-contact .header-bg-big {
  height: 400px;
  background: linear-gradient(rgba(76, 66, 126, 0.8), rgba(76, 66, 126, 0.8)), url('http://blog.hvidtfeldts.net/media/map3x.jpg') center center fixed;
  background-size: cover;
}
.materiables-contact .padding-50 {
  padding: 50px;
}
.materiables-contact .negative-margin {
  margin-top: -50px;
  margin-bottom: 50px;
}
.materiables-contact .adjust-fab-header {
  position: absolute;
  right: 100px;
  top: 420px;
}
.materiables-contact .container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}
.materiables-contact .floating-label {
  top: -40px !important;
}
.materiables-contact .e-input-group {
  display: inline-block;
  width: 90%;
}
.materiables-contact .e-input:not(.empty) ~ .floating-label {
  top: -60px !important;
}
@media (max-width: 1120px) {
  .materiables-contact .contact-info {
    width: 100%;
  }
}
.materiables-about .header-bg {
  height: 150px;
}
.materiables-about .container {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding: 50px;
  margin-top: -100px;
  margin-bottom: 50px;
}
.materiables-about .flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.materiables-about .flex-row .flex-item {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.materiables-about .flex-row .flex-item h2 {
  width: 100%;
}
.materiables-about .flex-row .flex-item p {
  width: 50%;
  box-sizing: border-box;
}
.materiables-about .flex-row .flex-item p span {
  display: block;
}
.materiables-about .flex-row .flex-item.full-width {
  width: 100%;
}
.materiables-about .flex-row .flex-item:first-child {
  padding-right: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.materiables-about .flex-row .flex-item:first-child p {
  width: 100%;
}
.materiables-about .flex-row .flex-item:nth-child(2) {
  padding-left: 10px;
}
.materiables-about .flex-row .flex-item:last-child div {
  width: 50%;
  box-sizing: border-box;
  line-height: normal;
}
.materiables-about .flex-row .flex-item:last-child span {
  display: inline;
}
.materiables-about .flex-row .flex-item:last-child p {
  margin: 0;
  width: 100%;
}
.materiables-about .flex-row .flex-item:last-child p a {
  text-decoration: underline;
}
.materiables-about .flex-row .flex-item:last-child p.p-grey {
  padding: 20px 40px;
}
.materiables-about .flex-row .flex-item:last-child p.p-time {
  padding-left: 30px;
}
.materiables-about .flex-row .flex-item:last-child .text-underline {
  text-decoration: underline;
}
.materiables-about .flex-row .flex-item:last-child .padding-right {
  padding-right: 10px;
}
.materiables-about .flex-row .flex-item:last-child .padding-left {
  padding-left: 10px;
}
.materiables-about .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  line-height: normal;
}
.materiables-about .radius-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  font-size: 65px;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
