.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4154B3;
  width: 100vw;
  min-height: 600px;
}
.adjust-h2-header {
  font-weight: 100;
  color: white!important;
}
.adjust-fab-header {
  position: absolute!important;
  bottom: -35px;
  right: 50px;
}
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
